body{/*Corpo principal*/
	background:#202020;
	margin:5%;
	padding:0px;
	font-family:tahoma;
	font-size:15px;
	text-align:left;
	text-align:justify;
	display:block;
	color:#333;
	margin-top:0px;
	margin-bottom:0px;
	
}
a{
	color: white;
	text-decoration: none;
}
h2{
	color:#333;
	font-size:40px;
	text-align:left;
}
 h1{
	text-align:left;
	font-size:30px;
	color:#f23030;
}

nav{
	
	width:100%;
	min-height:75px;
    height:0px;
	background-color:#202020;
	
}
nav img{
	position: relative;
	float: right;
	
}
p{
	text-align:left;
	font-size:15px;
	
}
.recuo{
	text-indent: 2.5em;
}
.recuoh1{
	text-indent: 1.5em;
}
i{
	color:white;
}
ul {/*Cor de fundo do nav*/	
	font-family:arial black;
    list-style-type: none;
    margin: 0;
    padding: 25px;
    overflow: hidden;

}

li {/*Letra dentro do nav*/
    float: left;
	font-size:15px;
	padding:-3px;
	margin:0;
}

li a, .dropbtn {/*Letra que tem submenu*/
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
}
li a, .dropbtn1 {/*Letra que nao tem submenu*/
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {/*Submenu quando passa por cima*/
    
	color:yellow;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {/*Fundo submenu*/
    display: none;
    position: absolute;
    background-color:#1c1d1e;
    min-width: 90px;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);
 
}

.dropdown-content a {/*Letra submenu*/
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:none;}

.dropdown:hover .dropdown-content {
    display: block;
}
#logo{/*Pantera Topo*/
	height:70px;
	margin-right: 20px;
}
article{
	padding: 0 10px;
}
article p{
	font-size:25px;
	text-align: justify;
	text-indent: 1em;
	width: 100%;	
}
article img {/*Minha imagem*/
	float:right;
	width:450px;
}
footer{/*Parte inferior*/
	background-color:#202020;
	height:20px;
	padding: 15px;
	text-align: center;
	font-size:15px;
    bottom:0;
    width:88.1%;
	
}
footer p{
	text-align:center;
	margin: 0;
	color:white;
}
.imagens{/*todas as imagens*/
	display:table-cell;
	float:right;
	margin-left:1780px;
}
.text{/*todos os textos*/
	display:table-cell;
	float:left;
	text-align:left;
}
section{
	background-color: #fff;
	min-height: 790px;
	padding-bottom: 20px;

}
.texto2{
	width: 100%;
}
.texto1{
	width: 67%;
}
.texto2 h2{
	text-align: center;
}
aside{
	float:right;
	width:200px;
	
}
#logofatec{
	width:200px;
	margin:80px;
}
#logocps{
	width:150px;
	margin-right:90px;
}

.mySlides{
	float: right;
	width: 300px;

}

.prof{
	max-width: 350px;
	margin-top: 100px;
}

.mySlides2{
	margin-right: 10%;
	width: 80%;
}

.xexe{
	min-height: 850px;
}
.livia{
	min-height: 1900px;
}